/.idea/workspace.xml
/_Dataset/
/jax_nn_training/training_runs/
/old/torch_nn_training/training_runs/
__pycache__/
/old/torch_nn_training/runs/
/.venv*
/old/torch_nn_training/_Dataset/
/_new/runs/
/_new/_Dataset/
