# Base Configuration
base_config:
  cuda_device: 0
  random_seed: 43
  learning_rate: 0.0001
  epoch_total: 100
  training_method: fgd_dual
  dataset_name: mnist
  batch_size: 64
  augment_data: false
  model_type: alexnet
  optimizer: adam
  momentum: 0.9
  loss_function: cross_entropy
  early_stopping: true
  early_stopping_patience: 10
  early_stopping_delta: 0.01
  dataset_path: _Dataset
  memory_snapshot_epochs: [1,5,10,15,20]

# Multi-Parameter Configuration
multi_params:
  # Load Balancing: Mischung aus Mittel und Leicht
  model_type:
    - densenet
    - mobilenet
    - resnet34
    - lenet

  dataset_name:
    - mnist
    - fashionmnist
    - cifar10
    - cifar100
    - flower
    - pet

  optimizer:
    - sgd
    - adam

  learning_rate:
    - 0.01 # Standard SGD
    - 0.001 # Standard ADAM
    - 0.0005
    - 0.0001
    - 0.00005

  training_method:
    - bp
    - fgd_dual

  random_seed:
    - 26
    - 8
    - 101