# Base Configuration: Grundeinstellungen für alle Trainings
base_config:
  cuda_device: 1
  random_seed: 43
  learning_rate: 0.0001
  epoch_total: 30
  training_method: fgd_dual
  dataset_name: flower
  batch_size: 64
  augment_data: false
  model_type: densenet
  optimizer: adam
  momentum: 0.9
  loss_function: cross_entropy
  early_stopping: true
  early_stopping_patience: 15
  early_stopping_delta: 0.001
  dataset_path: _Dataset
  memory_snapshot_epochs: [1,5,10,15,20]

# Multi-Parameter Configuration: Parameter für Grid-Search
# Wenn ein Parameter hier definiert ist, wird er für Multi-Training verwendet
# Wenn nicht, wird der Wert aus base_config genommen
